<h1>User info</h1>

<% if @user.errors.any? %>
  <%= @user.errors.count %>件のエラーが発生しました
  <ul>
    <% @.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= image_tag user.get_profile_image(63,63) %>

<table class="table">
  <tbody>
      <tr></tr>
      <tr>
        <th>name</th>
        <th><%= user.name %></th>
      </tr>
      <tr>
        <th>introduction</th>
        <th><%= user.introduction %></th>
      </tr>
      <div class="row">
    <%= link_to edit_user_path(user.id) do %>
      <i class="btn btn-outline-secondary btn-block fas-fa-user-cog"></i>
    <% end %>
     </div>
  </tbody>

</table>