
  <p id="notice"></p>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
        <h2>Users info</h2>
        <% if @user.errors.any? %>
          <%= @user.errors.count %>errors prohibited this obj from being saved:
          <ul>
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>

        <%= form_with model:@user do |f| %>

          <div class="inputName">Name</div>
          <%= f.text_field :name %>

          <div class="inputImage">Image</div>
          <%= f.file_field :profile_image, placeholder: "Image", accept: "image/*" %>

          <div class="textarea">Introduction</div>
          <%= f.text_area :introduction %>

          <div><%= f.submit "Update User", class:"btn btn-secondary" %></div>
        <% end %>
      </div>
    </div>
  </div>
